<!DOCTYPE html>
<html>
<head>
	<title>AbilityChooser</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tachyons@4.10.0/css/tachyons.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xwing-miniatures-font@2.0.1/dist/xwing-miniatures.css">
	<link rel="stylesheet" href="../style.css">
	<script src="https://cdn.jsdelivr.net/npm/ramda@0.25.0/dist/ramda.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react@16.4.1/umd/react.development.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom@16.4.1/umd/react-dom.development.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/prop-types@15.6.2/prop-types.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom-factories@1.0.2/index.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/seamless-immutable@7.1.3/seamless-immutable.development.js"></script>
	<script src="../../../dist/xwing-miniatures-artifact.js"></script>
	<script src="../../../dist/xwing-miniatures-state.js"></script>
	<script src="../../../dist/xwing-miniatures-model.js"></script>
	<script src="AbilityChooser.viewtest.js" type="module">></script>
</head>
<body>
	<div id="inputPanel"></div>
</body>

</html>